a {
    color: black;
    transition: 0.2s ease;
    width: max-content;
}
a:hover {
    opacity: 0.6;
}
.instructions > span:nth-child(1) {
    font-weight: 700;
}
.instructions > span:nth-child(2) {
    color: #ca0000;
    font-weight: 700;
    background-color: #ffc2c2;
}

form {
    display: flex;
    flex-direction: column;
    gap: 10px;
}
.vulnerability-input > input:hover,
.vulnerability-input > label:hover {
    cursor: pointer;
}
.image-input {
    display: flex;
    flex-direction: column;
    gap: 5px;
}
.image-input > label {
    font-weight: 700;
}
.image-input > input {
    padding: 10px;
    border: none;
    outline: 1px solid var(--border-color);
    border-radius: var(--border-radius);
    font-size: 1rem;
    transition: all 0.2s ease;
}
.image-input > input:hover,
.image-input > input:focus {
    filter: brightness(95%);
}
button {
    border: none;
    font-size: 1rem;
    outline: 1px solid var(--border-color);
    padding: 10px 20px;
    border-radius: var(--border-radius);
    background-color: #ffffffff;
    filter: brightness(95%);
    transition: all 0.2s ease;
    width: fit-content;
    align-self: center;
}
button:hover {
    filter: brightness(90%);
    cursor: pointer;
}
img {
    width: 100%;
    max-width: 600px;
    border-radius: var(--border-radius);
}
